html,
body {
    margin: 0;
    padding:0;
    height: 100%;
    width: 100%;
}


body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.gauges {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1 1 1px;
}
#gauges{
    display: none;
}
#debug{
    flex: 0 0 1px;
}

.gauges * {
    flex: 1 1 1px;
}

#tempGauge,
#humGauge,
#presGauge {
    /* height: 100px;
    width: 100px; */
}
#tempPlot {
    flex: 8 1 1px;
    /* height: 400px;
    width: 600px; */
}