<div class="mdc-card gaugesCard" id="gaugeCard">
    <div class="gaugeHeading mdc-typography--headline6" id="heading">Room</div>
    <div class="gauges" id="gauges">

        <div id="tempGauge"></div>
        <div id="humGauge"></div>
        <div id="presGauge"></div>
    </div>
</div>
<div id="tempCard" class="mdc-card">
    <div id="plotHeading">
        <div id="plottedValueLabel" class="mdc-typography--headline7">Temperature</div>
        <div id="plotTimeframeSelection">
            <div id="previousDay" class="material-icons dayNavigationButton">arrow_back_ios_new</div>
            <div id="currentDayLabel" class="mdc-typography--headline7">Today</div>
            <div id="nextDay" class="material-icons dayNavigationButton">arrow_forward_ios</div>
        </div>
    </div>
    <div id="tempPlot"></div>
</div>